/* 
Basic stylying guide for X framework.

body
grid
lists
tables
font
text-level
alignment
links
buttons
forms
no-print class
helper classes
images
stickyAside
*/



/* body
   ========================================================================== */

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

/* grid
   ========================================================================== */
.content{
    padding:20px;
    margin: 0 auto;
}

/* lists
   ========================================================================== */
h1 + ul,
h1 + ol,
h2 + ul,
h2 + ol,
h3 + ul,
h3 + ol,
h4 + ul,
h4 + ol,
h5 + ul,
h5 + ol,
h6 + ul,
h6 + ol,
p + ul,
p + ol {
  margin-top: 0;
}

ul {
  list-style:disc; 
	margin: 0 0 1rem 0;

}

ol {
  list-style: decimal;
	margin: 0 0 1rem 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1rem 0 1rem 3rem;
}

li {
  margin: 1rem; }

.list-unstyled {
  list-style: none;
  margin:0;
  padding:0;
}

.list-unstyled > li {
 margin:0;
 padding:0;
}



/* tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 2em 0;
  min-width: 100%;
  white-space: nowrap;
}



table tbody th {
  font-weight: 400;
}

table th,
table td {
  	background-color: #ffffff;
	border-bottom: 1px solid #E1E1E1;
	text-align: left;
    padding: 1.2rem;
}


.table-borderless thead th,
.table-borderless thead td{
  background-color: transparent;
  border-bottom: 0;
}


.table-bordered th,
.table-bordered td{
  border: 1px solid #E1E1E1;
 
  
}


.table-striped > tbody > tr:nth-of-type(odd) > td{
	background-color: #f5f5f5;}


.table-responsive{
	overflow-x: auto;
	display:block;
}


/* font
   ========================================================================== */

html {
  font-size: 16 px;
}

body {
  font-family: 'Khula', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .018rem;
  color: #262626;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #000000;
  line-height: 1.6;
  margin-left:0;
  margin-right:0;
  font-weight: 700;
  display:block;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: -.1rem;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  
}

h2 {
  font-size: 1.97rem;
  letter-spacing: -.1rem;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  
}

h3 {
  font-size: 1.72rem;
  letter-spacing: -.05rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.50rem;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 {
  font-size: 1.31rem;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 {
  font-size: 1.2rem;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.font-large {
 font-size: 2.5rem;
 margin-top:1em;
 margin-bottom:1em;
	
}


.text-uppercase {
text-transform: uppercase;
}

.text-lowercase {
text-transform: lowercase;
}

.text-capitalize {
text-transform: capitalize;
}

/* text-level semantics
   ========================================================================== */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
	
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
	
}

blockquote p {
  display: inline;
	
}

address {
  display: block;
  font-style: italic;
	
 }

em, var { 
    font-style: italic;
	
}

/* alignment
   ========================================================================== */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* links
   ========================================================================== */
a {
  color: #0071bc;
  text-decoration: underline;
}

a:hover, a:active {
  color: #205493;
}

a:visited {
  color: #4c2c92;
}

a:focus {
  box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
  outline: 0;
}



/* buttons
   ========================================================================== */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  height: 45px;
  padding: 0 30px;
  display: inline-block;
  color: #324852;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 7px;
  border: 2px solid #564A45;
  cursor: pointer;
  box-sizing: border-box; 
}

.button-large {
	height:50px;
	font-size: 16px;
    line-height: 40px;
}

.button-small {
	height:38px;
	font-size: 13px;
	line-height: 36px;
    letter-spacing: .08rem;
}

.button-x-small {
	height:28px;
	font-size: 10px;
    font-weight: 600;
	line-height: 25px;
    letter-spacing: .05rem;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover 
.button:active,
button:active,
input[type="submit"]:active, .active input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	background-color: #564A45;
	color:#FFFFFF;
}

.active {
	background-color: #564A45 !important; 
	color:#FFFFFF !important;
	
}
	
	

/* Forms
   ========================================================================== */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border: 2px solid #E1E1E1;
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  outline: none;
  padding: 1rem 0.7em;
  width: 100%;
}

select {
  padding: 0rem 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
}


.input-required:after {
  color: #981b1e;
  content: ' (*Required)';
}

label {
  display: block;
  margin-top: 3rem;
  max-width: 46rem;
}

textarea {
  height: 12rem;
}


legend {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
}

fieldset {
  border: 2px solid #E1E1E1;
  padding: 0.7rem; 
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; 
}

/* no-print class
   ========================================================================== */
@media print {
  .no-print {
    display: none !important;
  }
}

/* helper classes
   ========================================================================== */
.move-right{
	float:right;
}

.move-left{
	float:left;
}

.clearfix{
	clear:both;
}

/* images
   ========================================================================== */
.image-responsive {
	max-width: 100%;
	height: auto;
	display:block;
	
}


/* stickyAside
   ========================================================================== */
.sticky {
    right: 80%;
    height: 200px;
    background-color: #c00;
    position: absolute;
    color: #fff;

}
	 .sticky.fixed {
    position: fixed;
}
