
figure {
    padding: 10px;
}



/*MEDIA QUERIES
Devices < than 580px - Portrait
Devices > than 580px - Landscape
Devices > than 760px - Tablet
Devices > than 980px - Everything Else

*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    border: 10px ridge #604020;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Non Iframe*/

video {
    width: 100%    !important;
    height: auto   !important;
    border: 10px ridge #604020;
}



/*FILTERS*/


.blur {filter:blur(5px);}
.brightness {filter:brightness(200%);}
.contrast {filter:contrast(200%);}
.drop-shadow {filter:drop-shadow(8px 8px 10px black);}
.grayscale {filter:grayscale(100%);}
.hue-rotate {filter:hue-rotate(90deg);}
.invert {filter:invert(100%);}
.opacity {filter:opacity(30%);}
.saturate {filter:saturate(8);}
.sepia {filter:sepia(100%);}
.contrast {filter:contrast(200%) brightness(150%);}

/*FOOTER*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px; /* bottom = footer height */
}
.footer {
    position: absolute;
    background: grey; 
    color: aliceblue; 
    left: 0;
    bottom: 0;
   
    width: 100%;
}  
/*        heights*/
.height-10 {height: 10px;}    
.height-20 {height: 20px;}    
.height-30 {height: 30px;}    
.height-40 {height: 40px;}    
.height-50 {height: 50px;}    
.height-60 {height: 60px;}    
.height-70 {height: 70px;}    
.height-80 {height: 80px;}    
.height-90 {height: 90px;}    
.height-100 {height: 100px;}    

/*     text-alignment   */
.footer-center  {text-align: center;  }
.footer-right   {text-align: right;   }
.footer-left    {text-align: left;    }
 /*        end of alignment*/       
        
.footer p {margin: 25px 20px; }  
.footer p:hover{cursor: pointer;}













@media screen and (min-width: 300px) {


    
    
}

/*
@media screen and (min-width: 580px) {
   TABLET STYLE 

    
}
*/

@media screen and (min-width: 760px) {


}


@media screen and (min-width: 1050px) {

    

}
